*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, input, select, button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.7;
}
.container{
  width: 1200px;
}
.header-container{
  background: var(--primery-color);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topbar{
  border-bottom: 1px solid #35982b;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.header-top{
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header-top-sections{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.top-checkout{
  text-decoration: none;
  color: #fff;
}
.header-main{
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo img{
  width: 190px;
}
.need-help{
  border: 1px solid #fff;
  padding: 0px 10px;
}
.need-help-text{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.search {
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin : auto;
  width : 672px;
  height: 54px;
  background-color : white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
}

.select_area {
  color : #4451FE;
  display : flex;
  align-items: center;
  font-weight : medium ;
}

.text {
  padding-left:15px;
}

.line {
  margin-left: 15px;
  border-left: 1px solid #D8D8D8;
  height: 40px;
}
.search-main{
  width: 95%;
  display: flex;
  align-items: center;
}
.search_text {
  border: none;
  margin-left : 15px;
  font-size : 16px;
  width: 88%;
}
.search_text:focus {
  outline: none !important;
}
.search_text:focus + .search_icon{
  color : var(--primery-color);
}
#search-category{
  outline: none;
  border: none;
  font-size: 15px;
}
.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart{
  position: relative;
  
}
.cart span{
  color: #fff;
  position: absolute;
  background: var(--third-color);
  height: 20px;
  width: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -10px;
}
.header-bottom{
  height: 50px;
  width: 100%;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-bottom-right .track-order{
  background: var(--fourth-color);
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.h-menu{
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-weight: 600;
}
.menu-line{
  border: .5px solid #D8D8D8;
  border-radius: 10px;
  height: 20px;
}
.h-bottom-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hamburger{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-dropdown {
  display: inline-block;
  position: relative;
}

.h-dropdown button{
  border:none;
  font-size:16px;
  cursor:pointer;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  z-index: 1;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.h-dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:10px 20px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}
/* Footer Section Start Here */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: .5px solid #000;
}
.footer-top{
  height: 400px;
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
}
.footer-top h2{
  font-size: 18px;
}
.footer-left, .footer-right{
  width: 30%;
}
.footer-left p{
  margin: 20px 0;
}
.l-footer-item{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

}
.footer-middle{
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.fml-menu{
  text-decoration: none;
  color: #000;
}
.footer-right p{
  margin: 20px 0;
}
.form-control {
  position: relative;
  margin: 30px 0 20px;
}

.input {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  width: 100%;
}

.btn {
  background-color: var(--primery-color);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn:hover{
  background: var(--secondary-color);
}
.input:focus, .btn:focus {
  outline: 0;
}
.footer-bottom{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .5px solid #000;
}
.footer-bottom-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copyright-name{
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary-color);
}
/* Homepage Start Here */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.slide {
  display: none;
  position: relative;
  animation: all 0.5s ease-in-out;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
  height: 445px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.carousel-btn {
  padding: 5px 30px;
  font-size: 18px;
  background-color: var(--third-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: gray;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}
.next:hover, .prev:hover{
  background-color: var(--secondary-color);
  color: #fff;
}

/* Flash Deals section */
.flash-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flash-title-timer{
  display: flex;
  align-items: center;
  gap: 50px;
}
.flash-title{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--fourth-color);
}
.countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.countdown {
  padding: 5px 10px; 
  background: var(--fourth-color);
  color: white; 
  text-align: center;
  border-radius: 3px;
}

.countdown span {
  font-weight: bold; 
  font-size: 16px;
}
.flash-products{
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* product Card  */

.min-details h1 {
  font-size: 1rem;
  text-transform: capitalize;
}

.card {
  position: relative;
  border-radius: 5px;
  height: 440px;
  overflow: hidden;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card > figure {
  width: 90%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > figure > img {
  width: 60%;
}

.details {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 55%;
  width: 100%;
  transition: box-shadow .3s ease-in-out,
              top .3s ease-in-out;
}

.card:hover .details {
  box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  top: 40%;
}


.details > .min-details {
  display: flex;
  justify-content: space-between;
}

.card-category {
  color: #7B7B7B;
  display: block;
  font-size: .9rem;
  font-weight: 400;
}
.price{
  color: var(--secondary-color);
}
.product-card-name{
  text-decoration: none;
}
.product-name:hover{
  color: var(--secondary-color);
  cursor: pointer;
}
.product-options{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity{
  border: .5px solid gray;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.product-options h3{
  font-size: 15px;
}
.quantity input{
  width: 40px;
  margin: 0 10px;
  text-align: center;
  outline: none;
  border: none;
}
.quantity span{
  cursor: pointer;
  font-size: 18px;
}
.card-wishlist{
  cursor: pointer;
  color: #000;
}
.card-wishlist:hover{
  color: var(--secondary-color);
}
.atc-btn {
  background-color: var(--secondary-color);
  border-radius: 3px;
  color: #FFF;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow .3s ease-in-out,
              transform .3s ease-in-out;
}

.atc-btn:hover {
box-shadow: 0 5px 10px rgba(0,0,0,.3);
transform: translateY(-2px);
background-color: var(--primery-color);
}
/* mini banners section */
.mini-banner-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.mini-banners{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-banners img{
  height: 220px;
  width: 33.33%;
  padding: 10px;
}
/* RECOMMENDATIONS section start here */

.rec-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.rec-products{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.rec-product-card{
  width: 33.33%;
}
.product-grid{
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s ease-out;
  display: flex;
  padding: 10px;
}
.product-grid:hover{ 
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.product-image{ 
  position: relative; 
  width: 35%;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 50%;
  height: auto;
}
.product-grid .product-discount-label{
  color: #fff;
  background: var(--primery-color);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.product-grid .product-links{
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 65%;
  left: 50%;
  transition: all 0.4s ease 0s;
}
.product-grid:hover .product-links{
  opacity: 1;
  top: 50%;
}
.product-grid .product-links li{
  display: inline-block;
  margin: 0 2px;
}
.product-icon{
  color: #fff;
  font-size: 16px;
  display: block;
  position: relative;
  margin: 0 5px;
  transition: all 0.4s ease-out 0s;
}
.product-icon:hover{
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.product-content{
  padding: 10px;
}
.product-name{
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.product-name:hover{ 
  color: var(--secondary-color); 
}
.product-grid .price{
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
.product-grid .price span{
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
}

/* Sale Page Start Here */

.sale-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

/* wishlist page start here  */

.wishlist-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  flex-direction: column;
}
.wishlist-container h2{
  font-size: 40px;
  margin-bottom: 50px;
}
.wishlist-section{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.wishlist{
  width: 220px;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.wishlist-img{
  width: 200px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.wishlist-img img{
  width: 70%;
}
.remove-item{
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.wishlist-product-title{
  text-decoration: none;
  color: #000;
}
.wishlist-product-title h3{
  font-size: 16px;
}
.wishlist-product-title:hover{
  color: var(--secondary-color);
}
/* cart page */

.cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart{
  text-align: center;
  margin: 50px 0;
}
.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cart-product-details {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-table {
  width: 100%;
}

.product-column {
  font-weight: 600;
}

.cart-product-info {
  padding: 1rem 0;
}

.product-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-product-image {
  height: auto;
  width: 3rem;
  margin-right: 1rem;
}

.cart-product-name {
  font-weight: 600;
}

.cart-product-price,
.cart-product-quantity,
.product-total {
  padding: 1rem 0;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-quantity{
  width: 30px;
  text-align: center;
  color: #000;
}
.cart-quantity-btn {
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  margin-right: 0.5rem;
  cursor: pointer;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-container {
  margin-top: 2.5rem;
  width: 50%;
}

.promo-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #333333;
  margin-bottom: 1.5rem;
  text-align: left;
}

.promo-input-container {
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  overflow: hidden;
  max-width: 24rem;
}

.promo-input {
  width: 100%;
  outline: none;
  background-color: #ffffff;
  color: #4b5563;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  border: none;
}

.apply-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-size: 1rem;
  padding: 0.625rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-btn:hover {
  background-color: var(--primery-color);
}
.continue-btn-link{
  text-decoration: none;
}
.continue-btn{
  margin-top: 1.5rem;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}
.summary-content {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.summary-label {
  color: #4a5568;
}

.summary-value {
  color: #4a5568;
}

.separator {
  border: 0;
  border-top: 1px solid #e2e8f0;
  margin: 1rem 0;
}

.total-label {
  font-size: 1.25rem;
  font-weight: bold;
}

.total-content {
  display: flex;
  flex-direction: column;
}

.total-value {
  font-size: 1.25rem;
  font-weight: bold;
}

.total-info {
  font-size: 0.875rem;
  color: #4a5568;
}

.checkout-btn {
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: none;
}

.checkout-btn:hover {
  background-color: var(--primery-color);
}


/* Featured Product Section */

.f-product-container{
  width: 280px;
  height: 420px;
  border: .5px solid rgb(184, 184, 184);
  border-radius: 8px;
  padding: 10px;
}
.featured-product-container {
  position: relative;
  width: 100%; 
  height: 0; 
  padding-top: 100%; 
  overflow: hidden;
}

.featured-product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease; 
}

.featured-product-badge-container {
  position: absolute;
  top: 0.5rem; 
  left: 0.5rem; 
  margin: 0.5rem; 
  border-radius: 9999px; 
  background-color: #ffffff; 
}

.featured-product-badge {
  padding: 0.25rem 0.5rem; 
  font-size: 0.5rem; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em; 
  color: #ffffff; 
}

.featured-product-badge--sale {
  background-color: var(--primery-color); 
}
.featured-container {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.featured-price-container {
  margin-bottom: 0.5rem;
  display: flex;
}

.featured-price {
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #4b5563; 
}

.featured-discount {
  font-size: 0.75rem;
  color: #9ca3af; 
}

.featured-product-name {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #9ca3af; 
}
.featured-product-button {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem; 
  display: flex;
  height: 2.5rem; 
  width: 90%; 
  align-items: stretch;
  overflow: hidden;
  border-radius: 0.375rem; 
  color: #4b5563; 
}

.featured-product-button .default-state {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6; 
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.featured-product-button:hover .default-state {
  background-color: var(--primery-color); 
  color: #ffffff; 
}

.featured-product-button .plus-state {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0; 
  padding: 0 1.25rem; 
  transition: background-color 0.3s, color 0.3s;
}

.featured-product-button:hover .plus-state {
  background-color: #089b52; 
  color: #ffffff; 
}

/* Track Order section start here  */

.track-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact Page */
.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;

}
.contact-header{
  text-align: center;
  margin: 40px 0;
}
.contact-label {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.contact-heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: #111827;
}

.contact-description {
  font-size: 1.125rem;
  color: #6b7280;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 40px 0;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.icon-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--secondary-color);
}

.icon-wrapper svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #ffffff;
}

.info-heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 0.5rem;
}

.info-text {
  color: #6b7280;
}

.contact-form {
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.form-heading {
  font-size: 1.875rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  color: #374151;
}

.form-textarea {
  resize: none;
  min-height: 120px;
}

.submit-btn {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--primery-color);
}
/* about page  */

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.about-content {
  display: flex;
  justify-content: space-between;
}

.about-image-container {
  flex: 1;
  padding: 1rem;
}

.about-image {
  width: 100%;
  height: auto;
}

.about-text-container {
  flex: 1;
  padding: 1rem;
}

.about-section-label {
  color: #a0aec0;
  border-bottom: 2px solid var(--secondary-color);
  text-transform: uppercase;
}

.about-section-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.company-name {
  color: var(--primery-color);
}

.about-section-description {
  color: #4a5568;
  line-height: 1.5;
}
/* shop page start here */

.shop-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}
.shop-page-title{
  font-size: 30px;
  margin-bottom: 30px;
}
.shop-section{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
/* single product page */

.single-product-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product-details {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 60px;
}

.single-product-image {
  width: 50%;
  border-radius: 0.5rem;
  background-color: #d1d5db;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-image img {
  width: 60%;
  object-fit: cover;
}

.single-product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.single-product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.single-product-description {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.product-details-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 30px;
}

.single-label {
  font-weight: bold;
  margin-right: 10px;
}

.single-value {
  color: var(--secondary-color);
  font-weight: 700;
}

.single-product-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.size-options {
  margin-bottom: 1rem;
}
.weight-button input{
  outline: none;
  border: .5px solid gray;
  width: 50px;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
}

.action-buttons {
  display: flex;
}

.add-to-cart,
.add-to-wishlist {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
}

.add-to-cart {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.add-to-wishlist {
  background-color: var(--primery-color);
  color: #fff;
}

.add-to-cart:hover,
.add-to-wishlist:hover {
  opacity: 0.8;
}
/* login page start here */

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 640px;
  margin: 0 auto;
}

.signin-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4a5568;
  text-decoration: none;
}

.logo-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}
.signin-form-container {
  width: 100%;
}

.signin-form {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5rem;
}

.signin-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 1.5rem;
}

.signin-form-fields .form-field {
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 0.5rem;
  display: block;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #cbd5e0;
  background-color: #edf2f7;
  color: #4a5568;
  font-size: 0.875rem;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkbox-label {
  font-size: 0.875rem;
  color: #4a5568;
}

.forgot-password-link {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4a5568;
  text-decoration: none;
  margin-bottom: 1rem;
  display: inline-block;
}

.signin-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: var(--primery-color);
}

.signup-text {
  font-size: 0.875rem;
  color: #4a5568;
  margin: 15px 0;
}

.signup-link {
  font-weight: bold;
  color: #4a5568;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
/* sign up page start here*/

.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

/* Order Summary Page */


.order-summary__container {
  padding: 6rem 0;
  position: relative;
}

.order-summary__content {
  border: 1px solid rgb(186, 186, 186);
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.order-summary__title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #000;
}

.order-summary__message {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #718096;
  text-align: center;
  margin-bottom: 2.75rem;
}

.order-summary__box {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.order-summary__details {
  padding: 0 1.5rem;
}
.order-summary__detail{
  font-weight: 700;
  padding: 10px 0;
}
.order-summary__id{
  color: var(--secondary-color);
}
.order-summary__payment-date{
  color: gray;
}
.order-summary__button {
  display: inline-block;
  background-color: var(--primery-color);
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  padding: 0.75rem 1.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.order-summary__button:hover {
  background-color: var(--secondary-color);
}

.order-summary__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 1px solid #e2e8f0;
}
.order-summary-info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.order-summary__image-box {
  flex: 0 0 auto;
}

.order-summary__image {
  width: 90px;
  height: auto;
}

.order-summary__details {
  flex: 1 1 auto;
}

.order-summary__product-name {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #000;
}

.order-summary__manufacturer {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #718096;
}

.order-summary__pricing {
  flex: 0 0 auto;
}

.order-summary__price-label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #718096;
}

.order-summary__price {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--primery-color);
}

.order-summary__status {
  flex: 0 0 auto;
}

.order-summary__status-label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #718096;
}

.order-summary__status-text {
  font-weight: 700;
  font-size: 1rem;
  color: var(--primery-color);
  background-color: #ECFDF5;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  white-space: nowrap;
}

.order-summary__delivery {
  flex: 0 0 auto;
}

.order-summary__delivery-label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #718096;
}

.order-summary__delivery-date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--primery-color);
}

.order-summary__payments{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-summary__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.order-summary__cancel {
  background-color: var(--primery-color);
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  padding: 0.75rem 1.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-summary__cancel:hover {
  background-color: var(--secondary-color);
}

.order-summary__payment {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--secondary-color);
}
.order-summary__total{
  font-weight: 700;
  font-size: 18px;
}
.order-summary__total-price{
  color: var(--primery-color);
}
.order-summary__card{
  color: gray;
}